@import "tailwindcss";

body {
  @apply bg-[#1A1A1A];
}

@keyframes scroll-up {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-50%);
  }
}

.animate-scroll-up {
  animation: scroll-up 20s linear infinite;
}

.animate-scroll-up-slow {
  animation: scroll-up 30s linear infinite;
}

.animate-scroll-up-fast {
  animation: scroll-up 15s linear infinite;
}